.body{
    font-family: 'Playfair Display', serif;
}
.navhead:hover{
    background-color: rgb(216, 216, 245);
    color: blue;
    border-radius: 25px;
}
.Contact .card{
    margin-left: 12%;
    width: 80%;
    border-radius: 5%;
}
.Contact .card:hover{
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.Contact .card img{
    width: 100px;
    margin-left: 30%;
    margin-top: 5%;
}
.endingpage{
    justify-content: space-between;
}
.endingpage a{
    text-decoration: none;
    text-align: justify;
}

@media only screen and (max-width: 800px){
    .Contact .card{
        box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
        width: 100%;
        margin-left: 2%;
        border-radius: 5%;
    }
}